<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}"/>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>

</head>

<body>
<header class="navbar navbar-expand-lg navbar-dark">
    <label class="mt-2 ms-5 font-weight-bold h5"
    ><a th:href="@{/dashboard/}">estatehub</a
    ><span class="logo_com font-weight-bold h5" style="color: white">
          .com</span
    ></label
    >
    <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav m-auto mt-2 mt-lg-0">

            <li class="nav-item active">
                <a sec:authorize="hasAuthority('Buyer')" class="nav-link" th:href="@{/dashboard/}"
                ><i class="fas fa-search"></i>Search for Properties</a
                >
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Buyer')" class="nav-link" th:href="@{/saved-properties/}">
                    <i class="fa-solid fa-eye"></i>View Saved Properties</a>
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Buyer')" class="nav-link" th:href="@{/buyer-profile/}">
                    <i class="fa-solid fa-pencil"></i>Edit Profile</a>
            </li>

            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Seller')" class="nav-link" th:href="@{/dashboard/add}"
                ><i class="fa-solid fa-file-circle-plus"></i>Post New Property</a
                >
            </li>
            <li class="nav-item active">
                <a sec:authorize="hasAuthority('Seller')" class="nav-link" th:href="@{/dashboard/}"
                > <i class="fa-solid fa-eye"></i>View Your Properties</a
                >
            </li>
            <li class="nav-item ">
                <a sec:authorize="hasAuthority('Seller')" class="nav-link" th:href="@{/seller-profile/}"
                > <i class="fa-solid fa-pencil"></i>Edit Account</a
                >
            </li>

        </ul>

        <img
                class="rounded-circle me-3"
                height="50px"
                width="50x"
                th:if="${user.photosImagePath!=null}"
                th:src="@{${user?.photosImagePath}}"
        />

        <label th:if="${user.firstName != null && user.lastName != null}"
               th:text="${user.firstName+' '+user.lastName}"
               class="nav-item nav-link px-2 me-3">
        </label>

        <label th:unless="${user.firstName != null && user.lastName != null}" th:text="${username}"
               class="nav-item nav-link px-2 me-3"></label>

        <button class="myBtn-light me-5" onclick="window.location.href='/logout'">Logout</button>
    </div>
</header>

<section class="section">
    <div class="sidenav px-5">
        <div sec:authorize="hasAuthority('Buyer')">

            <label class="text-uppercase color-dull font-weight-bold">Filter Results</label>
            <hr/>
            <form id="myForm" th:action="@{/dashboard/}">

                <div class="row">
                    <div class="col-lg-12">
                        <label>Property Type</label>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    th:checked="${apartment}"
                                    id="Apartment"
                                    name="apartment"
                                    th:value="Apartment"
                            />
                            <label class="form-check-label" for="Apartment">
                                Apartment
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="villa"
                                    th:checked="${villa}"
                                    name="villa"
                                    th:value="Villa"
                            />
                            <label class="form-check-label" for="villa">
                                Villa
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    value=""
                                    id="land"
                                    th:value="Land"
                                    name="land"
                                    th:checked="${land}"
                            />
                            <label class="form-check-label" for="land">
                                Land
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="farm"
                                    th:checked="${farm}"
                                    name="farm"
                                    th:value="Farm"
                            />
                            <label class="form-check-label" for="farm">
                                Farm
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="office"
                                    th:checked="${office}"
                                    name="office"
                                    th:value="Office"
                            />
                            <label class="form-check-label" for="office">
                                Office
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="shop"
                                    th:checked="${shop}"
                                    name="shop"
                                    th:value="Shop"
                            />
                            <label class="form-check-label" for="shop">
                                Shop
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="house"
                                    th:checked="${house}"
                                    name="house"
                                    th:value="House"
                            />
                            <label class="form-check-label" for="house">
                                House
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="warehouse"
                                    th:checked="${warehouse}"
                                    name="warehouse"
                                    th:value="Warehouse"
                            />
                            <label class="form-check-label" for="warehouse">
                                Warehouse
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12">

                        <label>Listing Type</label>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="sale"
                                    th:value="Sale"
                                    name="sale"
                                    th:checked="${sale}"
                            />
                            <label class="form-check-label" for="sale">
                                Sale
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="Rent"
                                    th:value="rent"
                                    name="rent"
                                    th:checked="${rent}"
                            />
                            <label class="form-check-label" for="Rent">
                                Rent
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label>Date Posted</label>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="today"
                                    name="today"
                                    th:checked="${today}"
                            />
                            <label class="form-check-label" for="today"> Today </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="7days"
                                    name="days7"
                                    th:checked="${days7}"
                            />
                            <label class="form-check-label" for="7days">
                                Last 7 Days
                            </label>
                        </div>
                        <div class="form-check">
                            <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="30days"
                                    name="days30"
                                    th:checked="${days30}"
                            />
                            <label class="form-check-label" for="30days">
                                Last 30 Days
                            </label>
                        </div>
                    </div>
                </div>
                <input id="hidProperty" name="property" th:value="${property}" hidden>
                <input id="hidLoc" name="location" th:value="${location}" hidden>
            </form>
        </div>
    </div>
    <article>

        <div class="box" sec:authorize="hasAuthority('Buyer')">
            <h1 class="primary-title">Buyer Dashboard</h1>
            <div class="inner">
                <input id="property" class="radius-left" type="text" placeholder="Search for a property" name="property"
                       th:value="${property}"/>
                <input id="loc" class="" type="text" placeholder="Property Location" name="location" th:value="${location}"/>
                <button class="radius-right" type="submit" form="myForm"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <div class="box" sec:authorize="hasAuthority('Seller')">
            <h1 class="primary-title">Seller Dashboard</h1>
        </div>
        <div class="box mt-3">
            <label class="large-label px-3 mb-3" sec:authorize="hasAuthority('Buyer')">Search Results</label>
            <th:block th:each="propertyPost:${propertyPost}">
                <a
                        th:href="@{/property-details-apply/{id}(id=${propertyPost.propertyPostId})}"
                        style="text-decoration: none; color: black"
                >
                    <div
                            onclick="window.location=/property-details-apply/{id}(id=${propertyPost.propertyPostId})"
                            class="property-row"
                    >
                        <div class="row">
                            <div class="col-md-4">
                                <label class="property-title text-left">
                                    [[${propertyPost.propertyTitle}]]
                                    <span
                                            class="title-span"
                                            sec:authorize="hasAuthority('Seller')"
                                            th:text="'('+ @{${propertyPost.totalCandidates}}+' Candidates Applied)'"
                                    >(xx candidates applied)</span
                                    >
                                    <span
                                            class="title-span"
                                            sec:authorize="hasAuthority('Buyer')"
                                            th:if="${propertyPost.isActive == true}"
                                    >(Applied)</span
                                    >
                                    <span
                                            class="title-span"
                                            sec:authorize="hasAuthority('Buyer')"
                                            th:if="${propertyPost.isSaved == true}"
                                    >(Saved)</span
                                    >
                                </label>
                            </div>
                            <div class="col-md-4 text-center">
                                <label
                                        th:text="${propertyPost.propertyLocationId.city+', '+ propertyPost.propertyLocationId.state}"
                                >
                                    City State</label
                                >
                            </div>
                            <div class="col-md-4 text-right">
                                <label th:text="@{${propertyPost.estateAgencyId.name}}"
                                >Estate Agency Name</label
                                >
                            </div>
                        </div>
                    </div>
                </a>
            </th:block>
        </div>
    </article>
</section>

<script
        type="text/javascript"
        th:src="@{/webjars/jquery/jquery.min.js}"
></script>
<script
        type="text/javascript"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"
></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script>
    $('#property').change(function() {
      $('#hidProperty').val($(this).val());
    });
    $('#loc').change(function() {
      $('#hidLoc').val($(this).val());
    });
</script>
</body>
</html>