<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}" />
    <meta charset="ISO-8859-1" />
    <title>Reset Password</title>
</head>

<body>
<div class="row" style="margin-right:0">
    <div class="col-md-6">
        <div class="coffee_mug_background">
            <div class="logo_left mt-3 pt-4 ms-5 pl-5">
                <h2 class="logo">estatehub <span class="logo_com">.com</span></h2>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="myForm" style="align-items:center">
            <form th:action="@{/reset-password}" method="post">
                <h1 class="text-center bold font-weight-bold mb-4">Reset Password</h1>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div th:if="${message}" class="alert alert-success" role="alert" th:text="${message}"></div>
                            <div th:if="${error}" class="alert alert-danger" role="alert" th:text="${error}"></div>
                        </div>
                    </div>
                </div>

                <input type="hidden" name="token" th:value="${token}" />

                <div class="form-group">
                    <input placeholder="New Password" name="password" type="password" class="form-control" required />
                </div>

                <div class="form-group">
                    <button type="submit" class="myBtn">Reset Password</button>
                </div>

                <p class="text-center">
                    Remember your password?
                    <a class="color-text" th:href="@{/login}">Login Now</a>
                </p>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
</body>
</html>
